.App {
    text-align: center;
  }
  .col-6{
    margin: 10px 0 !important;
  }
  .row{
    width: 100% !important;
  }
  #CalCon{
    margin-top: 10px !important;
  }
  .chartjs-render-monitor{
    height: 400px !important;
    /* margin-bottom: 100px !important; */
    top: 100px !important;
  }
  .chartjs-size-monitor{
    height: 400px !important;
    /* margin-bottom: 100px !important; */
    top: 100px !important;
  }
  .container{
    margin: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  